# NOTE: Application settings:
# APP_ENV:
#   - "local" Local env
#   - "dev" Dev env
#   - "stag" Staging env
#   - "prod" Production env
APP_NAME="gFly - Web framework with Go"
APP_CODE="gfly"
APP_ENV=local
APP_URL=http://localhost:7789
APP_DEBUG=true

# NOTE: Server settings:
SERVER_HOST="0.0.0.0"
SERVER_PORT=7789

# NOTE: TLS settings:
SERVER_TLS_CERT=
SERVER_TLS_KEY=

# NOTE: Static settings:
STATIC_PATH=public

# NOTE: Storage file system settings:
STORAGE_DIR=storage
TEMP_DIR=storage/tmp
LOG_DIR=storage/logs
APP_DIR=storage/app

# NOTE: Log settings:
#   - Trace|Debug|Info|Warn|Error|Fatal|Panic
LOG_CHANNEL=file
LOG_FILE=gfly.log
LOG_LEVEL=Trace

# NOTE: API settings:
API_PREFIX=api
API_VERSION=v1

# NOTE: Notification settings:
NOTIFICATION_ENABLE=true

# NOTE: Mail settings:
MAIL_PROTOCOL=smtp
MAIL_HOST=email-smtp
MAIL_PORT=587
MAIL_USERNAME=AKIAKX4X
MAIL_PASSWORD=BH8D4p1g
MAIL_SENDER=no-reply@gfly.dev
MAIL_NAME="gFly - No Reply"
MAIL_TLS=true

# NOTE: Database settings:
DB_DEBUG=false
DB_HOST="postgres.local.orb.local"
DB_PORT=5432
DB_NAME="gfly"
DB_USERNAME="user"
DB_PASSWORD="secret"
DB_SSL_MODE="disable"
DB_MAX_CONNECTION=100
DB_MAX_IDLE_CONNECTION=10
DB_MAX_LIFETIME_CONNECTION=2

# NOTE: JWT settings:
# Value JWT_TTL_MINUTES is TTL for JWT_SECRET_KEY.
# Value JWT_TTL_OVER_DAYS is TTL for JWT_REFRESH_KEY.
JWT_SECRET_KEY="WGUh_U8IB0hpw"
JWT_TTL_MINUTES=1440
JWT_REFRESH_KEY="eyJ0eXAiOiI1NiJ9"
JWT_TTL_OVER_DAYS=7
JWT_BLACKLIST="jwt_blocked"

# NOTE: Storage system type:
# FILESYSTEM_TYPE:
#   - "local" Local storage.
#   - "s3" S3 storage.
#   - "ws3" Contabo S3 storage.
#   - "ws3" Wasabi S3 storage.
FILESYSTEM_TYPE=ws3

# NOTE: Contabo CS3 settings:
WS_ACCESS_KEY_ID="efffwef"
WS_SECRET_ACCESS_KEY="r3sfsdfdsf"
WS_REGION="ap-southeast-1"
WS_BUCKET="thietngon"
WS_ENDPOINT=https://s3.ap-southeast-1.wasabisys.com
WS_TEMP="tmp"

# NOTE: Storage settings:
STORAGE_PRESIGNED_URL=http://localhost:7789/api/v1/storage/uploads
