# NOTE: Storage file system settings:
STORAGE_DIR=storage

# NOTE: Storage system type:
# FILESYSTEM_TYPE:
#   - "local" Local storage (Default).
#   - "s3" S3 storage.
#   - "cs3" Contabo S3 storage.
FILESYSTEM_TYPE=cs3

# NOTE: Contabo CS3 settings:
CS_ACCESS_KEY_ID="1255f984d"
CS_SECRET_ACCESS_KEY="4d0ade"
CS_REGION="sin1"
CS_BUCKET_CODE="f7fa655e"
CS_BUCKET="gfly"
CS_ENDPOINT=https://sin1.contabostorage.com
CS_TEMP="tmp"

# NOTE: Storage settings:
STORAGE_PRESIGNED_URL=http://localhost:7789/api/v1/storage/uploads
