# NOTE: Storage file system settings:
STORAGE_DIR=storage

# NOTE: Storage system type:
# FILESYSTEM_TYPE:
#   - "local" Local storage (Default).
#   - "s3" S3 storage.
#   - "ws3" Contabo S3 storage.
FILESYSTEM_TYPE=ws3

# NOTE: Contabo CS3 settings:
WS_ACCESS_KEY_ID="1255f984d"
WS_SECRET_ACCESS_KEY="4d0ade"
WS_REGION="ap-southeast-1"
WS_BUCKET="gfly-local"
WS_ENDPOINT=https://s3.ap-southeast-1.wasabisys.com
WS_TEMP="tmp"

# NOTE: Storage settings:
STORAGE_PRESIGNED_URL=http://localhost:7789/api/v1/storage/uploads
